<br>
A&ntildeadir comentario: <p>
<form method="post" action="/quizes/<%=quizid%>/comments/" >
   <br>
   <input type="text" id="comment" name="comment[texto]" value=""/>
   <br><br>
   <button type="submit">Enviar</button>
   <br><br><br>
</form>