     <form method="get" action="/statistics">
       Estad&iacutesticas:<br> 
       <%= estadisticas %> <p> <br>
         <li>Total de preguntas..........................................:</li>
         <li>N&uacutemero total de comentarios.........................:</li>
         <li>N&uacutemero medio de comentarios por pregunta:</li>
         <li>N&uacutemero de preguntas sin comentarios...........:</li>
         <li>N&uacutemero de preguntas con comentarios..........:</li>
       
     </form>
